@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro&family=Roboto:ital,wght@1,300&display=swap");

$font-family_1: 'Roboto';
$font-size_1: 16px;
$font-size_2: 18px;
$font-size_3: 36px;
$bg-btn: rgb(46 50 54);
$text-color-btn: #f9f9f9;
$text-color-white: #fff;
$text-color-black: rgba(255, 255, 255, 0.38);
$color-grey: rgba(255, 255, 255, 0.1);


 