@import url('https://fonts.googleapis.com/css2?family=Flow+Circular&family=Montserrat:ital,wght@1,200&display=swap');
 
$font-family_1: 'Montserrat', sans-serif;
$font-size_1: 12px;
$font-size_2: 16px;
$color-white: #fff;
$color-blue: #03e9f4;
$bg-color-black: rgba(0,0,0,.5);
$shadow-black: rgba(0,0,0,.6);




 