@import url('https://fonts.googleapis.com/css2?family=Flow+Circular&display=swap');
$font-family_1: "Euclid Circular A";
$font-size_1: 16px;
$font-size_2: 18px;
$font-size_3: 36px;
$black-color: #000;
$text-color-h3: rgba(0, 0, 0, 0.38);
$bg-color-violet: #8d4fff;
$bg-color-smoke: #f9f9f9;




 