@import url('https://fonts.googleapis.com/css2?family=Flow+Circular&display=swap');

$font-family_1: "Euclid Circular A";
$font-size_1: 14px;
$font-size_2: 15px;
$font-size_3: 24px;

$bg-color-blue: #102770;
$bg-color-card: #2a2b38;
$bg-color-body: #1f2029; 
$color-white: #ffeba7;
$text-color-white: #c4c3ca;
$color-btn-white: #ffeba7;






 