@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800,900');
@import "mixin.scss";
@import "variables.scss";
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color: $bg-color-body;
    color: $text-color-white;
    font-family: 'Poppins', sans-serif;
    font-size: $font-size_2;
    font-weight: 300;
    line-height: 1.7;
    overflow-x: hidden;
}
a {
	cursor: pointer;
  transition: all 200ms linear;
}
a:hover {
	text-decoration: none;
}
.link {
  color: $text-color-white;
}
.link:hover {
  color: $color-white;
}
p {
  font-size: $font-size_1;
  font-weight: 500;
  line-height: 1.7;
}
h4 {
  font-weight: 600;
}
h6 span{
  font-weight: 700;
  padding: 0 20px;
  text-transform: uppercase;
}
.section{
  display: block;
  position: relative;
  width: 100%;
}
.btn{  
  @include button;
}
[type="checkbox"]:checked,
[type="checkbox"]:not(:checked){
  left: -9999px;
  position: absolute;
}
.checkbox:checked + label,
.checkbox:not(:checked) + label{
  cursor: pointer;
  background-color: $color-white;
  border-radius: 8px;
  display: block;
  height: 16px;
  margin: 10px auto;
  padding: 0;
  position: relative;
  text-align: center;
  width: 60px;
}
.checkbox:checked + label:before,
.checkbox:not(:checked) + label:before{
  background-color: $bg-color-blue;
  border-radius: 50%;
  color: $color-white;
  content: '\eb4f';
  display: block;
  font-family: 'unicons';
  font-size: $font-size_3;
  height: 36px;
  left: -10px;
  line-height: 36px;
  position: absolute;
  text-align: center;
  top: -10px;
  transition: all 0.5s ease;
  width: 36px;
  z-index: 20;
}
.checkbox:checked + label:before {
  transform: translateX(44px) rotate(-270deg);
}
/*** CARDS ***/
.card-front, .card-back {
  @include commonCards;
}
.card-3d-wrap {
  height: 400px;
  max-width: 100%;
  margin-top: 60px;
  perspective: 800px;
  position: relative;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  width: 440px;
}
.card-3d-wrapper {
  height: 100%;
  left: 0;  
  position:absolute;    
  top: 0;
  transform-style: preserve-3d;
  transition: all 600ms ease-out; 
  -webkit-transform-style: preserve-3d;
  width: 100%;
}
.card-back {
  transform: rotateY(180deg);
}
.checkbox:checked ~ .card-3d-wrap .card-3d-wrapper {
  transform: rotateY(180deg);
}
.center-wrap{
  display: block;
  left: 0;
  position: absolute;
  padding: 0 35px;
  top: 50%;
  transform: translate3d(0, -50%, 35px) perspective(100px);
  width: 100%;
  z-index: 20;
}
/*** FORM ***/
.form-group{ 
    display: block;
    margin: 0;
    padding: 0;
    position: relative;
}
.form-style {
    background-color: $bg-color-body;
    border: none;
    border-radius: 4px;
    box-shadow: 0 4px 8px 0 rgba(21,21,21,.2);
    color: $text-color-white;
    height: 48px;
    font-size: $font-size_1;
    font-weight: 500;
    letter-spacing: 0.5px;
    line-height: 22px;
    outline: none;
    padding: 13px 20px;
    padding-left: 55px;
    transition: all 200ms linear;
    -webkit-transition: all 200ms linear;
    width: 100%;
  }
.form-style:focus,
.form-style:active {
  border: none;
  box-shadow: 0 4px 8px 0 rgba(21,21,21,.2);
  outline: none;
}
.input-icon {
  color: $color-white;
  font-size: $font-size_3;
  left: 18px;
  height: 48px;
  line-height: 48px;
  position: absolute;
  text-align: left;
  top: 0;
  transition: all 200ms linear;
  -webkit-transition: all 200ms linear;
}
.form-group input:-ms-input-placeholder  {
  color: $text-color-white;
  opacity: 0.7;
  transition: all 200ms linear;
  -webkit-transition: all 200ms linear;
}
.form-group input::-moz-placeholder  {
  color: $text-color-white;
  opacity: 0.7;
  transition: all 200ms linear;
  -webkit-transition: all 200ms linear;
}
.form-group input:-moz-placeholder  {
  color: $text-color-white;
  opacity: 0.7;
  transition: all 200ms linear;
  -webkit-transition: all 200ms linear;
}
.form-group input::-webkit-input-placeholder  {
  color: $text-color-white;
  opacity: 0.7;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
}
.form-group input:focus:-ms-input-placeholder  {
  opacity: 0;
  transition: all 200ms linear;
  -webkit-transition: all 200ms linear;
}
.form-group input:focus::-moz-placeholder  {
  opacity: 0;
  transition: all 200ms linear;
  -webkit-transition: all 200ms linear;
}
.form-group input:focus:-moz-placeholder  {
  opacity: 0;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
}
.form-group input:focus::-webkit-input-placeholder  {
  opacity: 0;
  transition: all 200ms linear;
  -webkit-transition: all 200ms linear;
}

