@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro&family=Roboto:ital,wght@1,300&display=swap");

$font-family_1: Arial, Helvetica, sans-serif;
$font-family_2: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
$font-family_3: 'Roboto';
$font-size_1: 16px;
$font-size_2: 36px;
$black-color: #000;
$white-color: #fff;
$text-color-h3: rgba(0, 0, 0, 0.38);
$bg-color-blue: #216ce7;
$text-color-btn: #f9f9f9;
$text-color-a: #216ce7;



 